<%=@profile.name%>
<%=@profile.age%>
<%=@profile.height%>
<%=@profile.weight%>
<%=@profile.goal_weight%>

<div class="btn btn-primary text-white mt-3 ml-3">
  <%=link_to "Edit", "/profile/edit", :class => "btn"%>
</div>
