<%= form_tag '/users', method: :post do %>
   <p class="reg"><%= label_tag :username %></p>
  <%= text_field_tag :username %>
   <p class="reg"><%= label_tag :password %></p>
  <%= password_field_tag :password %>
  <%= submit_tag "Create" %>
<% end %>