<p class='reg'><%=@day.name%></p>


<%@day.exercises.each do |exercise|%>
  <ul>
    <p class="white"><%=exercise.name%></p>
    <p class="white">Sets: <%=exercise.sets%></p>
    <p class="white">Reps: <%=exercise.reps%></p>
    <p class="white">Rest: <%=exercise.rest_time%> seconds</p>
    <p class="white">Weight: <%=exercise.weight%></p>
    <%= link_to "Delete", "/day/#{@day.id}/exercises/#{exercise.id}", method: "delete"%>
  </ul>
<%end%>

 <p class='reg'><%= link_to "Add Exercise", "/days/#{@day.id}/exercises/new"%><p>