<!DOCTYPE html>
<html>
  <head>
    <title>WorkoutOrganizer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <top-nav class="top-nav">
      <%if current_user%>
           <%= link_to "Home", '/'%>
          <%= link_to "All Workouts", '/workouts'%>
          <%= link_to "Log Out", '/logout'%>
          <br>
        <%else%>
          <%= link_to "Create User", "/users/new" %>
          <%= link_to "Login", "/login" %>
      <%end%>
    </top-nav>
    <br>
    <br>

    <% flash.each do |name, msg| %>
      <div class= "<%=name%>-flash">
        <p><%= msg %></p>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
