<!DOCTYPE html>
<html>
  <head>
    <title>WorkoutOrganizer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <top-nav>
    <%= link_to "Create User", "/users/new" %>
    </top-nav>
    <%= yield %>
  </body>
</html>
