<!DOCTYPE html>
<html>
  <head>
    <title>WorkoutOrganizer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
    </div>
  <body>
    <top-nav class="top-nav">
      <%if current_user%>
          <div class="dropdown">
      <button onclick="myFunction()" class="dropbtn">Menu</button>
        <div id="myDropdown" class="dropdown-content">
          <a class="dropdown"><%= link_to "Home", '/'%></a>
          <a class="dropdown"><%= link_to "All Workouts", '/workouts'%></a>
          <a class="dropdown"><%= link_to "Log Out", '/logout'%></a>
        </div>

          <br>
        <%else%>
        <div class="jumbotron jumbotron-fluid">
          <div class="container text-center">
            <h1 class="display-2">Welcome to Workout Organizer!</h1>
              <p class="lead">This is an app for people to organize and track their custom workouts!</p>

              <div class="btn-group" role="group" aria-label="Basic outlined example">
                  <a class="btn btn-outline-primary btn-lg" href="/users/new">Create User</a>
                  <a class="btn btn-outline-primary btn-lg" href="/login">Login</a>
              </div>
          </div>
        </div>


<%end%>
    </top-nav>


    
    <br>
    <br>

    <% flash.each do |name, msg| %>
      <div class= "<%=name%>-flash">
        <p><%= msg %></p>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
